.header {
  background: var(--main-color);
  position: sticky;
  z-index: 3;
  top: 0px;
  border-bottom: 1px solid var(--header-border);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.headerLogo {
  font-size: 35px;
  font-weight: 600;
  color: var(--white-text);
}

.headerSearch {
  display: flex;
  width: 100%;
}

.headerSearch input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 100px 0px 0px 100px;
  font-size: 17px;
  font-weight: 400;
  color: var(--grey-text);
  background: var(--body-color);
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.headerSearch div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 100px 100px 0px;
  padding: 5px 15px;
  color: var(--grey-text);
  background: var(--second-color);
  font-size: 22px;
  cursor: pointer;
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.headerNav {
  display: flex;
  gap: 15px;
}
.headerNav a,
.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: var(--second-color);
  border-radius: 10px;
  padding: 5px 12px;
  color: var(--grey-text);
  font-weight: 500;
  font-size: 16px;
  border: 2px solid var(--border-color);
}

.moonIcon {
  display: flex;
  min-width: 20px;
  font-size: 30px;
}

.personIcon {
  display: flex;
  min-width: 20px;
  font-size: 30px;
}

.headerNav a:hover,
.headerButton:hover {
  background-color: var(--hedar-hover-bg);
  color: var(--header-hover-tx);
  box-shadow: var(--header-shadow);
}

.headerSearch div:hover {
  background-color: var(--hedar-hover-bg);
  color: var(--header-hover-tx);
  box-shadow: var(--header-shadow);
}

@media screen and (max-width: 900px) {
  .headerWrapper {
    justify-content: center;
  }
  .mobBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .headerNav {
    display: none;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    width: 100%;
    top: 74px;
    padding: 0px 15px;
    background-color: var(--second-color);
    height: 100vh;
  }
  .headerNav a,
  .headerButton {
    padding: 20px 20px;
    border-bottom: 1.5px solid var(--main-color);
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
  }
  .moonIcon {
    font-size: 26px;
  }

  .personIcon {
    font-size: 20px;
  }
  .headerNav a:hover {
    box-shadow: rgba(107, 107, 107, 0.041) 0px 7px 29px 0px;
  }
  .mobHam {
    font-size: 40px;
    background: var(--second-color);
    border-radius: 10px;
    padding: 2px 12px;
    color: var(--grey-text);
    cursor: pointer;
    border: 2px solid var(--border-color);
  }
  .mobHam:hover {
    background-color: var(--hedar-hover-bg);
    color: var(--header-hover-tx);
    box-shadow: rgba(107, 107, 107, 0.24) 0px 7px 29px 0px;
  }
  .headerLogo {
    font-size: 28px;
  }
}
