.accWrapper {
  display: flex;
  justify-content: center;
  color: var(--blog-title);
  gap: 20px;
  padding: 20px 0px;
  user-select: none;
  min-height: 80vh;
}

.sideOne,
.sideTwo {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  border-radius: 20px;
  background: var(--box-bg);
  box-shadow: var(--acc-shadow);
}

.sideOne {
  width: 40%;
  align-items: center;
}

.sideTwo {
  width: 100%;
  padding: 20px;
}

.accImg,
.accPP {
  position: relative;
  overflow: hidden;
}

.accImg img,
.accPP img {
  object-fit: cover;
}

.accImg {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}
.accPP {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  margin-top: -75px;
  border: 3px solid #fbb603;
}

.sideOne h3 {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}

.accNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  width: 100%;
}

.accNav a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 500;
}

.accNav a:hover {
  background-color: var(--acc-select-hover);
  color: var(--acc-nav-text);
  border: 2px solid var(--acc-border);
}

.accActive {
  background-color: var(--acc-select);
  color: var(--white-text);
  border: 2px solid #fbb603 !important;
}
.accActive:hover {
  background-color: var(--acc-select) !important;
  color: var(--white-text) !important;
  border: 2px solid #fbb603 !important;
}

.dnone {
  display: flex;
}
.dfind {
  display: flex;
}
@media screen and (max-width: 900px) {
  .sideOne {
    width: 100%;
    height: 100vh;
    position: fixed;
    border-radius: 0px;
    top: 74px;
    z-index: 1;
  }
  .sideTwo {
    margin-top: 55px;
  }
  .accImg {
    border-radius: 0px;
  }

  .dnone {
    display: flex;
  }
  .dfind {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sideTwo {
    padding: 15px 0px 0px 0px;
  }
}
