.detailWrapper {
  min-height: 80vh;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.detailImage {
  position: relative;
  width: 100%;
  height: 50vh;
  user-select: none;
}

.detailImage img {
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid var(--blog-border);
  box-shadow: var(--header-shadow);
}

.detailTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 5px;
}

.detailTop div {
  display: flex;
  gap: 10px;
  color: var(--blog-ex);
  border: 1px solid var(--blog-ex);
  border-radius: 5px;
  padding: 0px 4px;
}

.detailTop h2 {
  color: var(--blog-title);
  font-size: 32px;
  padding-right: 60px;
}

.detailTop h3 {
  background-color: var(--main-color);
  color: var(--white-text);
  padding: 5px 10px;
  border-radius: 200px;
  font-size: 22px;
  border: 1px solid var(--border-color);
}

.detailWrapper h4 {
  font-weight: 400;
  color: var(--blog-title);
  font-size: 20px;
}

.detailWrapper h5 {
  background-color: var(--main-color);
  color: var(--white-text);
  padding: 2px 20px;
  border-radius: 12px;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid var(--border-color);
}

.detailWrapper h5:hover {
  color: var(--main-color);
  background-color: var(--white-text);
  border: 2px solid var(--main-color);
}

.blogTextBottom {
  color: var(--blog-title);
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 5px;
  user-select: none;
}

.blogTextBottom p,
.blogCat {
  background-color: var(--blog-detail);
  flex: 1;
  border-radius: 10px;
  padding: 10px 0px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.blogCat {
  cursor: pointer;
}
.blogCat:hover {
  color: #fbb603;
}

@media screen and (max-width: 1000px) {
  .detailWrapper h5 {
    padding: 2px 15px;
    font-size: 25px;
  }
  .detailTop h2 {
    font-size: 25px;
    padding-right: 45px;
  }

  .detailTop h3 {
    padding: 5px 10px;
    font-size: 18px;
  }

  .detailWrapper h4 {
    font-size: 16px;
  }
  .detailTop div {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .detailTop h2 {
    padding-right: 0px;
  }
  .detailTop {
    gap: 10px;
  }
  .detailImage {
    height: 40vh;
  }
  .blogTextBottom {
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (max-width: 520px) {
  .detailWrapper {
    padding: 15px 0px;
    gap: 5px;
  }

  .detailImage {
    height: 25vh;
  }
  .detailWrapper h5 {
    padding: 2px 15px;
    margin-top: 5px;
    font-size: 25px;
  }
  .detailTop h2 {
    font-size: 22px;
    padding-right: 0px;
  }

  .detailTop h3 {
    padding: 5px 10px;
    font-size: 16px;
  }

  .detailWrapper h4 {
    font-size: 15px;
    margin-top: 5px;
  }
  .detailTop div {
    gap: 0px;
    font-size: 12px;
    flex-direction: column;
    padding: 0px 8px;
  }
  .blogTextBottom {
    margin-bottom: 0;
    margin-top: 2px;
  }
  .blogTextBottom p,
  .blogCat {
    border-radius: 10px;
    padding: 6px 0px;
    font-size: 15px;
    gap: 7px;
    border-radius: 6px;
  }
}
